# based on https://github.com/jonchang/homebrew-biology/blob/master/.github/workflows/tests.yml
name: CI

on:
  push:
    branches: master
  pull_request:
    types:
      - assigned
      - labeled
      - opened
      - edited
      - reopened
      - synchronize
env:
  HOMEBREW_CC: clang
  HOMEBREW_CXX: clang++
jobs:
  tap_syntax:
    name: Check tap syntax
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up tap
        run: |
          set -e
          brew update-reset
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s "$PWD" "$REPO"
      - name: Check syntax
        run: |
          brew test-bot --only-tap-syntax --tap=${{github.repository}}
  build-linux:
    needs: tap_syntax
    if: github.event_name == 'pull_request'
    name: Build Linux bottle
    runs-on: ubuntu-latest
    container:
      image: homebrew/ubuntu20.04:latest
    env:
      HOMEBREW_BINTRAY_USER: tomoyanonymous
      HOMEBREW_BINTRAY_KEY: ${{secrets.HOMEBREW_BINTRAY_KEY}}
      HOMEBREW_BINTRAY_URL: https://dl.bintray.com/mimium-org/bottles-mimium
    steps:
      - name: Checkout tap
        uses: actions/checkout@v2
      - name: Set up tap
        run: |
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s $GITHUB_WORKSPACE "$REPO"
      - name: Run brew test-bot --only-setup
        run: brew test-bot --only-setup --root-url=BINTRAY_ROOT --bintray-org=BINTRAY_USER --tap=${{github.repository}} -v
      - name: Run brew test-bot --only-formulae
        run: |
          mkdir ~/bottles
          cd ~/bottles
          brew test-bot --only-formulae --root-url=BINTRAY_ROOT --bintray-org=BINTRAY_USER --tap=${{github.repository}} -v
      - name: Output brew test-bot --only-formulae failures
        if: always()
        run: |
            cat ~/bottles/steps_output.txt
            rm ~/bottles/steps_output.txt
      - name: Count bottles
        id: bottles
        if: always()
        run: |
          cd ~/bottles
          count=$(ls *.json | wc -l | xargs echo -n)
          echo "$count bottles"
          echo "::set-output name=count::$count"
      - name: Move bottles
        if: always() && steps.bottles.outputs.count > 0
        run: mv ~/bottles $GITHUB_WORKSPACE
      - name: Upload bottles
        if: always() && steps.bottles.outputs.count > 0
        uses: actions/upload-artifact@v1
        with:
          name: bottles
          path: bottles

  build-macos:
    needs: tap_syntax
    if: github.event_name == 'pull_request'
    name: Build macOS bottle
    
    runs-on: macos-latest
    env:
      BINTRAY_USER:  tomoyanonymous
      BINTRAY_KEY: ${{secrets.HOMEBREW_BINTRAY_KEY}}
      BINTRAY_URL: https://dl.bintray.com/mimium-org/bottles-mimium
    steps:
      - name: Checkout tap
        uses: actions/checkout@v2
      - name: Update Homebrew
        run: |
          rm -rf $(brew --repo homebrew/cask)
          rm -rf $(brew --repo homebrew/cask-versions)
          rm -rf $(brew --cellar)/*
          sudo rm -rf /usr/local/include/* /usr/local/lib/*
          brew update-reset
          brew cleanup
      - name: Set up tap
        run: |
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s $GITHUB_WORKSPACE "$REPO"
      - name: Run brew test-bot --only-setup
        run: brew test-bot --only-setup --root-url=$BINTRAY_URL --bintray-org=$BINTRAY_USER --tap=${{github.repository}} -v 
      - name: Run brew test-bot --only-formulae
        run: |
          mkdir ~/bottles
          cd ~/bottles
          brew test-bot --only-formulae --root-url=$BINTRAY_URL --bintray-org=$BINTRAY_USER --tap=${{github.repository}} -v
      - name: Output brew test-bot --only-formulae failures
        if: always()
        run: |
            cat ~/bottles/steps_output.txt
            rm ~/bottles/steps_output.txt
      - name: Count bottles
        id: bottles
        if: always()
        run: |
          cd ~/bottles
          count=$(ls *.json | wc -l | xargs echo -n)
          echo "$count bottles"
          echo "::set-output name=count::$count"
      - name: Move bottles
        if: always() && steps.bottles.outputs.count > 0
        run: mv ~/bottles $GITHUB_WORKSPACE
      - name: Upload bottles
        if: always() && steps.bottles.outputs.count > 0
        uses: actions/upload-artifact@v1
        with:
          name: bottles
          path: bottles