name: release
on:
  push:
   tags: 
          - 'v*'
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build_and_upload:
  
    name: "Build Bottle and Upload"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - macos-latest
    steps:
      - name: Update Homebrew
        run: brew update-reset
      - uses: actions/checkout@v2
      - if: contains(matrix.os, 'ubuntu')
        name: deps-ubuntu
        run: |
          sudo apt update
          sudo apt upgrade
          sudo apt-get install libalsa-ocaml-dev -yq
          brew install gcc@5.5 
          brew unlink gcc@5.5
          brew install gcc@9
      - name: Build Bottles
        run: |
          brew tap mimium-org/mimium
          git config --global user.name "brewTestBot"
          git config --global user.email "me@matsuuratomoya.com"
          mkdir -p "$(dirname $(brew --repo ${{github.repository}}))"
          cp -a "$GITHUB_WORKSPACE" "$(brew --repo ${{github.repository}})"
          mkdir ~/bottles && cd ~/bottles
          brew test-bot --cleanup --tap mimium-org/mimium mimium  
          cp -a ~/bottles $RUNNER_TEMP/

      - name: upload bottle
        run: brew pr-upload  --root-url=https://github.com/${{github.repository}} -v

      - name: Upload bottle json artifact
        uses: actions/upload-artifact@v1
        with:
          name: bottles
          path: ${{runner.temp}}/bottles
      - name: push sha commit to github
        if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd "$(brew --repo)/Library/Taps/mimium-org/homebrew-mimium"
          git push "https://brewTestBot:${{ secrets.GITHUB_TOKEN }}@github.com/${{github.repository}}" origin master