# based on https://github.com/jonchang/homebrew-biology/blob/master/.github/workflows/tests.yml
name: CI

on:
  push:
    branches: master
  pull_request:
    types:
      - assigned
      - unassigned
      - labeled
      - unlabeled
      - opened
      - edited
      - closed
      - reopened
      - synchronize

jobs:
  tap_syntax:
    name: Check tap syntax
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up tap
        run: |
          set -e
          brew update
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s "$PWD" "$REPO"
      - name: Check syntax
        run: |
          brew test-bot --only-tap-syntax --tap=${{github.repository}}
  build-linux:
    needs: tap_syntax
    if: github.event_name == 'pull_request'
    name: Build Linux bottle
    runs-on: ubuntu-latest
    container:
      image: homebrew/ubuntu20.04:latest
    steps:
      - name: Install deps
        run: |
          apt update
          apt install libalsa-ocaml-dev -yq
          brew install gcc@5.5
          brew unlink gcc@5.5
          brew install gcc@9
          brew cleanup
      - name: Checkout tap
        uses: actions/checkout@v2
      - name: Set up tap
        run: |
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s $GITHUB_WORKSPACE "$REPO"
      - name: Run brew test-bot --only-setup
        run: brew test-bot --only-setup --tap=${{github.repository}}
      - name: Run brew test-bot --only-formulae
        run: |
          mkdir ~/bottles
          cd ~/bottles
          brew test-bot --only-formulae --root-url=https://github.com/${{github.repository}}  --tap=${{github.repository}}
      - name: Output brew test-bot --only-formulae failures
        if: always()
        run: |
            cat ~/bottles/steps_output.txt
            rm ~/bottles/steps_output.txt
      - name: Count bottles
        id: bottles
        if: always()
        run: |
          cd ~/bottles
          count=$(ls *.json | wc -l | xargs echo -n)
          echo "$count bottles"
          echo "::set-output name=count::$count"
      - name: Move bottles
        if: always() && steps.bottles.outputs.count > 0
        run: mv ~/bottles $GITHUB_WORKSPACE
      - name: Upload bottles
        if: always() && steps.bottles.outputs.count > 0
        uses: actions/upload-artifact@v1
        with:
          name: bottles
          path: bottles

  build-macos:
    needs: tap_syntax
    if: github.event_name == 'pull_request'
    name: Build macOS bottle
    runs-on: macos-latest
    steps:
      - name: Checkout tap
        uses: actions/checkout@v2
      - name: Update Homebrew
        run: |
          rm -rf $(brew --repo homebrew/cask)
          rm -rf $(brew --repo homebrew/cask-versions)
          rm -rf $(brew --cellar)/*
          sudo rm -rf /usr/local/include/* /usr/local/lib/*
          brew update-reset
          brew cleanup
      - name: Set up tap
        run: |
          REPO=$(brew --repo ${{github.repository}})
          mkdir -p "$REPO"
          rm -rf "$REPO"
          ln -s $GITHUB_WORKSPACE "$REPO"
      - name: Run brew test-bot --only-setup
        run: brew test-bot --only-setup --tap=${{github.repository}}
      - name: Run brew test-bot --only-formulae
        run: |
          mkdir ~/bottles
          cd ~/bottles
          brew test-bot --only-formulae --root-url=https://github.com/${{github.repository}}  --tap=${{github.repository}}
      - name: Output brew test-bot --only-formulae failures
        if: always()
        run: |
            cat ~/bottles/steps_output.txt
            rm ~/bottles/steps_output.txt
      - name: Count bottles
        id: bottles
        if: always()
        run: |
          cd ~/bottles
          count=$(ls *.json | wc -l | xargs echo -n)
          echo "$count bottles"
          echo "::set-output name=count::$count"
      - name: Move bottles
        if: always() && steps.bottles.outputs.count > 0
        run: mv ~/bottles $GITHUB_WORKSPACE
      - name: Upload bottles
        if: always() && steps.bottles.outputs.count > 0
        uses: actions/upload-artifact@v1
        with:
          name: bottles
          path: bottles